:root,
:host {
  --border: 0;
  --font-family: "Inter var", sans-serif;
  --letter-spacing: 0.0375rem;
  --block-border-radius: 0.375rem;
  --block-border: thin solid rgba(52, 56, 85, 0.25);
  --block-box-shadow: 0 2px 3px 0 rgba(52, 56, 85, 0.25);
  --control-box-shadow: none;
  --control-border: 0;
  --transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  --swing-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  --outline-border-width: 0.125rem;
  --outline-box-shadow: none;
  --square-border-radius: 0.25rem;
  --form-padding: 1.25rem;
  --form-border-radius: 0.125rem;
  --text-selected: #b3d4fc;
  --text-highlighted: #ffc5274e;
  --link-color: var(--primary);
  --link-color-secondary: var(--secondary);
  --link-color-hover: var(--primary-lighten, --primary);
  --link-color-active: var(--primary);
  --link-color-visited: var(--primary-darken, --primary);
  --muted: #7f828b;
  --li-background: var(--primary);
  --text-block: var(--background-element);
  --stripe-border-size: 0.25rem;
  --box-shadow: 0 0.25rem 0.5rem 0 var(--shadow);
  --z-index-teleport-overlay: 1000;
  --form-element-min-width: 50px;
  --form-element-default-width: 250px;
  --primary: #154ec1;
  --secondary: #767c88;
  --success: #3d9209;
  --info: #158de3;
  --danger: #e42222;
  --warning: #ffd43a;
  --background-primary: #f6f6f6;
  --background-secondary: #ffffff;
  --background-element: #ebf1f4;
  --background-border: #dee5f2;
  --text-primary: #262824;
  --text-inverted: #ffffff;
  --text-gray: #89879f;
  --shadow: rgba(0, 0, 0, 0.12);
  --focus: #49a8ff;
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../asssets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../asssets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
